/*-------------------------------------------------------------------*/
/* Theme Options: ONLY FOR DEMO
-------------------------------------------------------------------*/
.lgx-theme-options {
  position: fixed;
  top: 130px;
  width: 240px;
  z-index: 999;
  background: #ddd;
}
.lgx-theme-options.left-pane {
  -webkit-transition: left 400ms;
  -moz-transition: left 400ms;
  -ms-transition: left 400ms;
  -o-transition: left 400ms;
  transition: left 400ms;
  left: -240px;
}
.lgx-theme-options.left-pane .lgx-option-trigger {
  right: -48px;
}
.lgx-theme-options.left-pane.lgx-open {
  left: 0;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.lgx-theme-options.left-pane .layout-img-holder {
  right: -375px;
}
.lgx-theme-options.right-pane {
  -webkit-transition: right 400ms;
  -moz-transition: right 400ms;
  -ms-transition: right 400ms;
  -o-transition: right 400ms;
  transition: right 400ms;
  right: -240px;
}
.lgx-theme-options.right-pane .lgx-option-trigger {
  left: -48px;
}
.lgx-theme-options.right-pane.lgx-open {
  right: 0;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.lgx-theme-options.right-pane .layout-img-holder {
  left: -375px;
}
.lgx-option-trigger {
  position: absolute;
  top: 0;
  background: #fff;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 24px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.lgx-options-inner {
  position: relative;
  padding: 20px;
  min-height: 48px;
}
.lgx-option-section {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f1f1f1;
}
.lgx-option-section h4 {
  color: #333;
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.lgx-option-section .checkbox {
  margin-bottom: 0;
}
.lgx-option-section:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;
}
.lgx-presets,
.lgx-bg-images,
.lgx-bg-layout {
  list-style: none;
  padding: 0;
  margin: -5px;
}
.lgx-presets li,
.lgx-bg-images li,
.lgx-bg-layout li {
  display: block;
  float: left;
  margin: 5px;
}

.lgx-preset a {
    /*background: red;*/
}


/*    New add    */
.lgx-option-section:last-child .lgx-bg-layout li {
  width: 100%;
}

.lgx-option-section:last-child {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 350px;
}
/*    New add    */


.lgx-presets li a,
.lgx-bg-images li a,
.lgx-bg-layout li a {
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 2px;
  float: left;
}
.lgx-presets li.active a {
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2) inset;
}
.lgx-bg-images li a {
  border: 3px solid #c5c8c6;
}
.lgx-bg-images li.active a {
  border-color: #22b8f0;
}
.lgx-bg-images img {
  width: 100%;
}
.lgx-bg-layout li a {
  width: 100%;
  height: auto;
  padding: 5px;
  position: relative;

}
.lgx-bg-layout li a:hover .layout-img-holder {
  display: block;
  visibility: visible;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  visibility: hidden; /*    New add    */
}
.lgx-bg-layout img {
  position: static;
}
.layout-img-holder {
  position: absolute;
  padding: 5px;
  border-radius: 3px;
  background: #fff;
  width: 400px;
  top: -280px;
  display: none;
  visibility: hidden;
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
