*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    /* background-color: #190A05; */
}

/* ----------------------Header------------------------------- */
navbar-custom{
    background: transparent !important;
}

logo img{
    height:6rem;
}
home{
    color: white;
    font-size: 3rem;
}
body{
    background-color: rgb(0, 0, 0);
}


/* ------------------------------ScrollBar---------------------------------------------------- */
.scrollBar::-webkit-scrollbar {
    width: 10px;
  }
  
  .scrollBar::-webkit-scrollbar-thumb {
    background: #870000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .scrollBar::-webkit-scrollbar-thumb:hover {
    background: #870000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }




/* Cards */
/* cards */
.main{
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .main h1 {
      font-size: 24px;
      font-weight: 400;
      text-align: center;
  }
  
  img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  
  .cards{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .cards_item {
    display: flex;
    padding: 1rem;
  }
  
  @media (min-width: 40rem) {
    .cards_item {
      width: 50%;
    }
  }
  
  @media (min-width: 56rem) {
    .cards_item {
      width: 33.3333%;
    }
  }
  
  .card {
    background-color: rgb(0, 0, 0);
    border-radius: 1rem;
    /* box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25); */
    box-shadow: 5px 5px 20px 0px rgba(240, 6, 6, 0.61);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .card:hover{
      transform: translateY(30px);
  }
  
  .card_content {
    padding: 1rem;
    background-color: black;
  }
  
  .card_title {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
  }
  
  .card_text {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
  }
  